
USE [Advance]
GO
/****** Object:  Table [dbo].[Advance]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Advance]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Advance](
	[AdvanceID] [int] IDENTITY(1,1) NOT NULL,
	[TitleAmountApprovalRuleID] [int] NULL,
	[AdvanceAmount] [decimal](18, 0) NULL,
	[AdvanceExplanation] [nvarchar](max) COLLATE Turkish_CI_AS NULL,
	[WorkerID] [int] NULL,
	[RequestDate] [datetime] NULL,
	[DesiredDate] [datetime] NULL,
	[isApproved] [bit] NULL,
	[ProjectID] [int] NULL,
 CONSTRAINT [PK_Advance] PRIMARY KEY CLUSTERED 
(
	[AdvanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Advance] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[AdvanceApproveStatus]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AdvanceApproveStatus]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AdvanceApproveStatus](
	[ApproveStatusID] [int] IDENTITY(1,1) NOT NULL,
	[AdvanceID] [int] NULL,
	[ApproverOrRejecterID] [int] NULL,
	[ApprovalStatusID] [int] NULL,
	[Approved/DeclinedDate] [datetime] NULL,
	[ApprovedAmount] [decimal](18, 0) NULL,
	[NextApproverOrRejecterID] [int] NULL,
	[isProcess] [bit] NULL,
	[DeterminedPaymentDate] [datetime] NULL,
 CONSTRAINT [PK_AdvanceApproveStatus] PRIMARY KEY CLUSTERED 
(
	[ApproveStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[AdvanceApproveStatus] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[AdvanceReceipt]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AdvanceReceipt]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AdvanceReceipt](
	[AdvanceID] [int] NULL,
	[PaybackReceiptID] [int] NULL,
	[PaymantReceiptID] [int] NULL,
	[PaybackDate] [datetime] NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[AdvanceReceipt] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Amount]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Amount]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Amount](
	[AmountID] [int] IDENTITY(1,1) NOT NULL,
	[MinAmount] [decimal](18, 0) NULL,
	[MaxAmount] [decimal](18, 0) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_Amount] PRIMARY KEY CLUSTERED 
(
	[AmountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Amount] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[ApprovalStatus]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ApprovalStatus]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ApprovalStatus](
	[ApprovalStatusID] [int] IDENTITY(1,1) NOT NULL,
	[ApprovalName] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[NextApprovalName] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[IsActive] [nchar](10) COLLATE Turkish_CI_AS NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_ApprovalStatus] PRIMARY KEY CLUSTERED 
(
	[ApprovalStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[ApprovalStatus] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Authorization]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Authorization]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Authorization](
	[AuthorizationID] [int] IDENTITY(1,1) NOT NULL,
	[AutherizationPath] [nvarchar](250) COLLATE Turkish_CI_AS NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Authorization] PRIMARY KEY CLUSTERED 
(
	[AuthorizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Authorization] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Message]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Message]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Message](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[MessageName] [nvarchar](100) COLLATE Turkish_CI_AS NULL,
	[MessageDescription] [nvarchar](max) COLLATE Turkish_CI_AS NULL,
	[MessageTakerID] [int] NULL,
	[MessageSenderID] [int] NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Message] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[PageAuthorization]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PageAuthorization]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PageAuthorization](
	[PageAuthorizationID] [int] IDENTITY(1,1) NOT NULL,
	[PageAuthrizationName] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[PageAuthorizationPath] [nvarchar](max) COLLATE Turkish_CI_AS NULL,
	[IsActive] [nchar](10) COLLATE Turkish_CI_AS NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_PageAuthorization] PRIMARY KEY CLUSTERED 
(
	[PageAuthorizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[PageAuthorization] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[PaybackReceipt]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PaybackReceipt]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PaybackReceipt](
	[PaybackReceiptID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptDate] [datetime] NULL,
	[ReceiptDescription] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[IsActive] [nchar](10) COLLATE Turkish_CI_AS NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_PaybackReceipt] PRIMARY KEY CLUSTERED 
(
	[PaybackReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[PaybackReceipt] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[PaymentReceipt]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PaymentReceipt]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PaymentReceipt](
	[PaymentReceiptID] [int] NOT NULL,
	[ReceiptDate] [datetime] NULL,
	[ReceiptDescription] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[DeterminedPaybackDate] [datetime] NULL,
	[IsActive] [nchar](10) COLLATE Turkish_CI_AS NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_PaymentReceipt] PRIMARY KEY CLUSTERED 
(
	[PaymentReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[PaymentReceipt] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Project]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Project]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Project](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[ProjectExplanation] [nvarchar](max) COLLATE Turkish_CI_AS NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Project] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[ProjectWorker]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProjectWorker]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProjectWorker](
	[WorkerID] [int] NULL,
	[ProjectID] [int] NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[ProjectWorker] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Report]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Report]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Report](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[WorkerID] [int] NULL,
	[AdvanceID] [int] NULL,
	[IsActive] [nchar](10) COLLATE Turkish_CI_AS NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Report] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Role]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Role]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[IsActive] [bit] NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Role] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[RoleAuthorization]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RoleAuthorization]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RoleAuthorization](
	[RoleID] [int] NOT NULL,
	[AuthorizationID] [int] NOT NULL,
	[PageAuthorizationID] [int] NOT NULL,
	[IsActive] [nchar](10) COLLATE Turkish_CI_AS NOT NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[RoleAuthorization] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Rule]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rule]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Rule](
	[RuleID] [int] IDENTITY(1,1) NOT NULL,
	[RuleName] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_Rule] PRIMARY KEY CLUSTERED 
(
	[RuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Rule] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[RuleWorker]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RuleWorker]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RuleWorker](
	[RuleID] [int] NULL,
	[TitleID] [int] NULL,
	[ApprovalOrder] [tinyint] NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[RuleWorker] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Title]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Title]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Title](
	[TitleID] [int] IDENTITY(1,1) NOT NULL,
	[TitleName] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[TitleDescription] [nvarchar](max) COLLATE Turkish_CI_AS NULL,
	[RoleID] [int] NULL,
 CONSTRAINT [PK_Title] PRIMARY KEY CLUSTERED 
(
	[TitleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Title] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[TitleAmountApprovalRule]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TitleAmountApprovalRule]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TitleAmountApprovalRule](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AmountID] [int] NULL,
	[Date] [datetime] NULL,
	[TitleID] [int] NULL,
 CONSTRAINT [PK_TitleAmountApprovalRule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[TitleAmountApprovalRule] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Unit]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Unit](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[UnitExplanation] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Unit] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Worker]    Script Date: 19.12.2023 17:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Worker]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Worker](
	[WorkerID] [int] IDENTITY(1,1) NOT NULL,
	[WorkerName] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[WorkerEmail] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[WorkerPhonenumber] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[UnitID] [int] NULL,
	[TitleID] [int] NULL,
	[UpperWorkerID] [int] NULL,
	[PasswordSalt] [varbinary](max) NULL,
	[PasswordHash] [varbinary](max) NULL,
 CONSTRAINT [PK_Worker] PRIMARY KEY CLUSTERED 
(
	[WorkerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[Worker] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[Advance] ON 

INSERT [dbo].[Advance] ([AdvanceID], [TitleAmountApprovalRuleID], [AdvanceAmount], [AdvanceExplanation], [WorkerID], [RequestDate], [DesiredDate], [isApproved], [ProjectID]) VALUES (1, 4, CAST(10449 AS Decimal(18, 0)), N'Acil ', 14, CAST(N'2023-12-12T00:00:00.000' AS DateTime), CAST(N'2023-12-15T00:00:00.000' AS DateTime), 0, 1)
INSERT [dbo].[Advance] ([AdvanceID], [TitleAmountApprovalRuleID], [AdvanceAmount], [AdvanceExplanation], [WorkerID], [RequestDate], [DesiredDate], [isApproved], [ProjectID]) VALUES (2, 4, CAST(20000 AS Decimal(18, 0)), N'Avans', 10, CAST(N'2023-09-09T00:00:00.000' AS DateTime), CAST(N'2023-09-15T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Advance] ([AdvanceID], [TitleAmountApprovalRuleID], [AdvanceAmount], [AdvanceExplanation], [WorkerID], [RequestDate], [DesiredDate], [isApproved], [ProjectID]) VALUES (3, 3, CAST(10000 AS Decimal(18, 0)), N'fdsaf', 1, NULL, CAST(N'2023-12-18T00:00:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[Advance] OFF
GO
SET IDENTITY_INSERT [dbo].[AdvanceApproveStatus] ON 

INSERT [dbo].[AdvanceApproveStatus] ([ApproveStatusID], [AdvanceID], [ApproverOrRejecterID], [ApprovalStatusID], [Approved/DeclinedDate], [ApprovedAmount], [NextApproverOrRejecterID], [isProcess], [DeterminedPaymentDate]) VALUES (107, 27, NULL, 1, CAST(N'2023-12-19T14:45:22.740' AS DateTime), NULL, 18, 1, NULL)
INSERT [dbo].[AdvanceApproveStatus] ([ApproveStatusID], [AdvanceID], [ApproverOrRejecterID], [ApprovalStatusID], [Approved/DeclinedDate], [ApprovedAmount], [NextApproverOrRejecterID], [isProcess], [DeterminedPaymentDate]) VALUES (108, 27, 18, 8, CAST(N'2023-12-19T14:45:48.483' AS DateTime), CAST(1300 AS Decimal(18, 0)), 17, 1, NULL)
INSERT [dbo].[AdvanceApproveStatus] ([ApproveStatusID], [AdvanceID], [ApproverOrRejecterID], [ApprovalStatusID], [Approved/DeclinedDate], [ApprovedAmount], [NextApproverOrRejecterID], [isProcess], [DeterminedPaymentDate]) VALUES (109, 28, NULL, 1, CAST(N'2023-12-19T15:03:20.017' AS DateTime), NULL, 17, 1, NULL)
SET IDENTITY_INSERT [dbo].[AdvanceApproveStatus] OFF
GO
INSERT [dbo].[AdvanceReceipt] ([AdvanceID], [PaybackReceiptID], [PaymantReceiptID], [PaybackDate]) VALUES (2, 1, NULL, CAST(N'2023-10-13T00:00:00.000' AS DateTime))
INSERT [dbo].[AdvanceReceipt] ([AdvanceID], [PaybackReceiptID], [PaymantReceiptID], [PaybackDate]) VALUES (1, NULL, 4, NULL)
INSERT [dbo].[AdvanceReceipt] ([AdvanceID], [PaybackReceiptID], [PaymantReceiptID], [PaybackDate]) VALUES (17, NULL, 123, CAST(N'2023-12-26T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Amount] ON 

INSERT [dbo].[Amount] ([AmountID], [MinAmount], [MaxAmount], [Date]) VALUES (1, CAST(0 AS Decimal(18, 0)), CAST(1000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[Amount] ([AmountID], [MinAmount], [MaxAmount], [Date]) VALUES (2, CAST(1001 AS Decimal(18, 0)), CAST(5000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[Amount] ([AmountID], [MinAmount], [MaxAmount], [Date]) VALUES (3, CAST(5001 AS Decimal(18, 0)), CAST(10000 AS Decimal(18, 0)), NULL)
SET IDENTITY_INSERT [dbo].[Amount] OFF
GO
SET IDENTITY_INSERT [dbo].[ApprovalStatus] ON 

INSERT [dbo].[ApprovalStatus] ([ApprovalStatusID], [ApprovalName], [NextApprovalName], [IsActive], [ModifiedBy], [CreatedDate], [ModifiedDate], [CreatedBy]) VALUES (1, N'Talep Olusturuldu', N'BM Onayı', N'1         ', NULL, CAST(N'2023-12-12T02:26:22.177' AS DateTime), CAST(N'2023-12-12T02:26:22.177' AS DateTime), NULL)
INSERT [dbo].[ApprovalStatus] ([ApprovalStatusID], [ApprovalName], [NextApprovalName], [IsActive], [ModifiedBy], [CreatedDate], [ModifiedDate], [CreatedBy]) VALUES (2, N'BM Onayladı', N'Direktör Onayı', N'1         ', NULL, CAST(N'2023-12-12T02:31:07.503' AS DateTime), CAST(N'2023-12-12T02:31:07.503' AS DateTime), NULL)
INSERT [dbo].[ApprovalStatus] ([ApprovalStatusID], [ApprovalName], [NextApprovalName], [IsActive], [ModifiedBy], [CreatedDate], [ModifiedDate], [CreatedBy]) VALUES (3, N'Direktör Onayladı', N'GMY Onayı', N'1         ', NULL, CAST(N'2023-12-12T02:31:07.503' AS DateTime), CAST(N'2023-12-12T02:31:07.503' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ApprovalStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[PaybackReceipt] ON 

INSERT [dbo].[PaybackReceipt] ([PaybackReceiptID], [ReceiptDate], [ReceiptDescription], [IsActive], [ModifiedBy], [CreatedDate], [ModifiedDate], [CreatedBy]) VALUES (1, CAST(N'2023-10-15T00:00:00.000' AS DateTime), N'Ödendi', N'1         ', NULL, CAST(N'2023-12-15T16:52:19.087' AS DateTime), CAST(N'2023-12-15T16:52:19.087' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PaybackReceipt] OFF
GO
INSERT [dbo].[PaymentReceipt] ([PaymentReceiptID], [ReceiptDate], [ReceiptDescription], [DeterminedPaybackDate], [IsActive], [ModifiedBy], [CreatedDate], [ModifiedDate], [CreatedBy]) VALUES (1, CAST(N'2023-09-14T00:00:00.000' AS DateTime), N'Avans Verildi', CAST(N'2023-10-15T00:00:00.000' AS DateTime), N'1         ', NULL, CAST(N'2023-12-16T20:22:53.510' AS DateTime), CAST(N'2023-12-16T20:22:53.510' AS DateTime), NULL)
INSERT [dbo].[PaymentReceipt] ([PaymentReceiptID], [ReceiptDate], [ReceiptDescription], [DeterminedPaybackDate], [IsActive], [ModifiedBy], [CreatedDate], [ModifiedDate], [CreatedBy]) VALUES (4, CAST(N'2023-12-19T12:39:08.683' AS DateTime), N'FDSAFADS', CAST(N'1894-07-01T00:00:00.000' AS DateTime), NULL, NULL, CAST(N'2023-12-19T12:39:08.683' AS DateTime), CAST(N'2023-12-19T12:39:08.683' AS DateTime), NULL)
INSERT [dbo].[PaymentReceipt] ([PaymentReceiptID], [ReceiptDate], [ReceiptDescription], [DeterminedPaybackDate], [IsActive], [ModifiedBy], [CreatedDate], [ModifiedDate], [CreatedBy]) VALUES (15, CAST(N'2023-12-19T16:16:55.000' AS DateTime), NULL, CAST(N'2024-01-07T00:00:00.000' AS DateTime), NULL, NULL, CAST(N'2023-12-19T16:17:13.123' AS DateTime), CAST(N'2023-12-19T16:17:13.123' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([ProjectID], [ProjectName], [StartDate], [EndDate], [ProjectExplanation]) VALUES (1, N'Fineksus', CAST(N'2023-12-12T00:00:00.000' AS DateTime), CAST(N'2023-12-19T00:00:00.000' AS DateTime), N'Bankacılık')
INSERT [dbo].[Project] ([ProjectID], [ProjectName], [StartDate], [EndDate], [ProjectExplanation]) VALUES (2, N'BilgeAdam', CAST(N'2022-12-12T00:00:00.000' AS DateTime), CAST(N'2023-12-25T00:00:00.000' AS DateTime), N'Danışmanlık')
INSERT [dbo].[Project] ([ProjectID], [ProjectName], [StartDate], [EndDate], [ProjectExplanation]) VALUES (3, N'SiberGüvenlik', CAST(N'2023-10-10T00:00:00.000' AS DateTime), CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'Güvenlik')
SET IDENTITY_INSERT [dbo].[Project] OFF
GO
INSERT [dbo].[ProjectWorker] ([WorkerID], [ProjectID]) VALUES (10, 1)
INSERT [dbo].[ProjectWorker] ([WorkerID], [ProjectID]) VALUES (10, 2)
INSERT [dbo].[ProjectWorker] ([WorkerID], [ProjectID]) VALUES (21, 3)
GO
SET IDENTITY_INSERT [dbo].[Title] ON 

INSERT [dbo].[Title] ([TitleID], [TitleName], [TitleDescription], [RoleID]) VALUES (1, N'Calisan', NULL, NULL)
INSERT [dbo].[Title] ([TitleID], [TitleName], [TitleDescription], [RoleID]) VALUES (2, N'BM', NULL, NULL)
INSERT [dbo].[Title] ([TitleID], [TitleName], [TitleDescription], [RoleID]) VALUES (3, N'Direktör', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Title] OFF
GO
SET IDENTITY_INSERT [dbo].[TitleAmountApprovalRule] ON 

INSERT [dbo].[TitleAmountApprovalRule] ([ID], [AmountID], [Date], [TitleID]) VALUES (1, 1, NULL, 2)
INSERT [dbo].[TitleAmountApprovalRule] ([ID], [AmountID], [Date], [TitleID]) VALUES (2, 2, NULL, 3)
INSERT [dbo].[TitleAmountApprovalRule] ([ID], [AmountID], [Date], [TitleID]) VALUES (3, 3, NULL, 4)
SET IDENTITY_INSERT [dbo].[TitleAmountApprovalRule] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([UnitID], [UnitName], [UnitExplanation], [IsActive]) VALUES (1, N'Yazılım', NULL, 1)
INSERT [dbo].[Unit] ([UnitID], [UnitName], [UnitExplanation], [IsActive]) VALUES (2, N'Finans', NULL, 1)
INSERT [dbo].[Unit] ([UnitID], [UnitName], [UnitExplanation], [IsActive]) VALUES (3, N'IK', NULL, 1)
SET IDENTITY_INSERT [dbo].[Unit] OFF
GO
SET IDENTITY_INSERT [dbo].[Worker] ON 

INSERT [dbo].[Worker] ([WorkerID], [WorkerName], [WorkerEmail], [WorkerPhonenumber], [UnitID], [TitleID], [UpperWorkerID], [PasswordSalt], [PasswordHash]) VALUES (1, N'Burak ÇOBAN', N'burakcbn2834@gmail.com', N'54564546', 1, 5, 1, NULL, NULL)
INSERT [dbo].[Worker] ([WorkerID], [WorkerName], [WorkerEmail], [WorkerPhonenumber], [UnitID], [TitleID], [UpperWorkerID], [PasswordSalt], [PasswordHash]) VALUES (2, N'Oğuz Yıldırım', N'ogzyldr@gmail.com', N'8459151651', 1, 4, 1, NULL, NULL)
INSERT [dbo].[Worker] ([WorkerID], [WorkerName], [WorkerEmail], [WorkerPhonenumber], [UnitID], [TitleID], [UpperWorkerID], [PasswordSalt], [PasswordHash]) VALUES (3, N'İhsan Kuzucu', N'ihskz@gmail.com', N'65546546', 1, 2, 4, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Worker] OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ApprovalStatus_CreatedDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ApprovalStatus] ADD  CONSTRAINT [DF_ApprovalStatus_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ApprovalStatus_ModifiedDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ApprovalStatus] ADD  CONSTRAINT [DF_ApprovalStatus_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Authorization_CreatedDate_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Authorization] ADD  CONSTRAINT [DF_Authorization_CreatedDate_1]  DEFAULT (getdate()) FOR [CreatedDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Authorization_IsActive_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Authorization] ADD  CONSTRAINT [DF_Authorization_IsActive_1]  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PageAuthorization_CreatedDate_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PageAuthorization] ADD  CONSTRAINT [DF_PageAuthorization_CreatedDate_1]  DEFAULT (getdate()) FOR [CreatedDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PageAuthorization_ModifiedDate_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PageAuthorization] ADD  CONSTRAINT [DF_PageAuthorization_ModifiedDate_1]  DEFAULT (getdate()) FOR [ModifiedDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PaybackReceipt_CreatedDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PaybackReceipt] ADD  CONSTRAINT [DF_PaybackReceipt_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PaybackReceipt_ModifiedDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PaybackReceipt] ADD  CONSTRAINT [DF_PaybackReceipt_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PaymentReceipt_CreatedDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PaymentReceipt] ADD  CONSTRAINT [DF_PaymentReceipt_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PaymentReceipt_ModifiedDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PaymentReceipt] ADD  CONSTRAINT [DF_PaymentReceipt_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Report_CreatedDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Report] ADD  CONSTRAINT [DF_Report_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Report_ModifiedDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Report] ADD  CONSTRAINT [DF_Report_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Role_CreatedDate_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_CreatedDate_1]  DEFAULT (getdate()) FOR [CreatedDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Role_ModifiedDate_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_ModifiedDate_1]  DEFAULT (getdate()) FOR [ModifiedDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_RoleAuthorization_CreatedDate_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RoleAuthorization] ADD  CONSTRAINT [DF_RoleAuthorization_CreatedDate_1]  DEFAULT (getdate()) FOR [CreatedDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_RoleAuthorization_ModifiedDate_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RoleAuthorization] ADD  CONSTRAINT [DF_RoleAuthorization_ModifiedDate_1]  DEFAULT (getdate()) FOR [ModifiedDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_Project]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance]  WITH CHECK ADD  CONSTRAINT [FK_Advance_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ProjectID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_Project]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance] CHECK CONSTRAINT [FK_Advance_Project]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_TitleAmountApprovalRule]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance]  WITH CHECK ADD  CONSTRAINT [FK_Advance_TitleAmountApprovalRule] FOREIGN KEY([TitleAmountApprovalRuleID])
REFERENCES [dbo].[TitleAmountApprovalRule] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_TitleAmountApprovalRule]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance] CHECK CONSTRAINT [FK_Advance_TitleAmountApprovalRule]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_Worker]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance]  WITH CHECK ADD  CONSTRAINT [FK_Advance_Worker] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[Worker] ([WorkerID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_Worker]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance] CHECK CONSTRAINT [FK_Advance_Worker]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceApproveStatus_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceApproveStatus]'))
ALTER TABLE [dbo].[AdvanceApproveStatus]  WITH CHECK ADD  CONSTRAINT [FK_AdvanceApproveStatus_Advance] FOREIGN KEY([AdvanceID])
REFERENCES [dbo].[Advance] ([AdvanceID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceApproveStatus_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceApproveStatus]'))
ALTER TABLE [dbo].[AdvanceApproveStatus] CHECK CONSTRAINT [FK_AdvanceApproveStatus_Advance]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceApproveStatus_ApprovalStatus]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceApproveStatus]'))
ALTER TABLE [dbo].[AdvanceApproveStatus]  WITH CHECK ADD  CONSTRAINT [FK_AdvanceApproveStatus_ApprovalStatus] FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatus] ([ApprovalStatusID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceApproveStatus_ApprovalStatus]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceApproveStatus]'))
ALTER TABLE [dbo].[AdvanceApproveStatus] CHECK CONSTRAINT [FK_AdvanceApproveStatus_ApprovalStatus]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceApproveStatus_Worker]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceApproveStatus]'))
ALTER TABLE [dbo].[AdvanceApproveStatus]  WITH CHECK ADD  CONSTRAINT [FK_AdvanceApproveStatus_Worker] FOREIGN KEY([ApproverOrRejecterID])
REFERENCES [dbo].[Worker] ([WorkerID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceApproveStatus_Worker]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceApproveStatus]'))
ALTER TABLE [dbo].[AdvanceApproveStatus] CHECK CONSTRAINT [FK_AdvanceApproveStatus_Worker]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceApproveStatus_Worker1]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceApproveStatus]'))
ALTER TABLE [dbo].[AdvanceApproveStatus]  WITH CHECK ADD  CONSTRAINT [FK_AdvanceApproveStatus_Worker1] FOREIGN KEY([NextApproverOrRejecterID])
REFERENCES [dbo].[Worker] ([WorkerID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceApproveStatus_Worker1]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceApproveStatus]'))
ALTER TABLE [dbo].[AdvanceApproveStatus] CHECK CONSTRAINT [FK_AdvanceApproveStatus_Worker1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceReceipt_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceReceipt]'))
ALTER TABLE [dbo].[AdvanceReceipt]  WITH CHECK ADD  CONSTRAINT [FK_AdvanceReceipt_Advance] FOREIGN KEY([AdvanceID])
REFERENCES [dbo].[Advance] ([AdvanceID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceReceipt_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceReceipt]'))
ALTER TABLE [dbo].[AdvanceReceipt] CHECK CONSTRAINT [FK_AdvanceReceipt_Advance]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceReceipt_PaybackReceipt]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceReceipt]'))
ALTER TABLE [dbo].[AdvanceReceipt]  WITH CHECK ADD  CONSTRAINT [FK_AdvanceReceipt_PaybackReceipt] FOREIGN KEY([PaybackReceiptID])
REFERENCES [dbo].[PaybackReceipt] ([PaybackReceiptID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceReceipt_PaybackReceipt]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceReceipt]'))
ALTER TABLE [dbo].[AdvanceReceipt] CHECK CONSTRAINT [FK_AdvanceReceipt_PaybackReceipt]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceReceipt_PaymentReceipt]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceReceipt]'))
ALTER TABLE [dbo].[AdvanceReceipt]  WITH CHECK ADD  CONSTRAINT [FK_AdvanceReceipt_PaymentReceipt] FOREIGN KEY([PaymantReceiptID])
REFERENCES [dbo].[PaymentReceipt] ([PaymentReceiptID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceReceipt_PaymentReceipt]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceReceipt]'))
ALTER TABLE [dbo].[AdvanceReceipt] CHECK CONSTRAINT [FK_AdvanceReceipt_PaymentReceipt]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Message_Worker]') AND parent_object_id = OBJECT_ID(N'[dbo].[Message]'))
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Worker] FOREIGN KEY([MessageTakerID])
REFERENCES [dbo].[Worker] ([WorkerID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Message_Worker]') AND parent_object_id = OBJECT_ID(N'[dbo].[Message]'))
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Worker]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Message_Worker1]') AND parent_object_id = OBJECT_ID(N'[dbo].[Message]'))
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Worker1] FOREIGN KEY([MessageSenderID])
REFERENCES [dbo].[Worker] ([WorkerID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Message_Worker1]') AND parent_object_id = OBJECT_ID(N'[dbo].[Message]'))
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Worker1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProjectWorker_Project]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProjectWorker]'))
ALTER TABLE [dbo].[ProjectWorker]  WITH CHECK ADD  CONSTRAINT [FK_ProjectWorker_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ProjectID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProjectWorker_Project]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProjectWorker]'))
ALTER TABLE [dbo].[ProjectWorker] CHECK CONSTRAINT [FK_ProjectWorker_Project]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProjectWorker_Worker]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProjectWorker]'))
ALTER TABLE [dbo].[ProjectWorker]  WITH CHECK ADD  CONSTRAINT [FK_ProjectWorker_Worker] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[Worker] ([WorkerID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProjectWorker_Worker]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProjectWorker]'))
ALTER TABLE [dbo].[ProjectWorker] CHECK CONSTRAINT [FK_ProjectWorker_Worker]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Report_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[Report]'))
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Advance] FOREIGN KEY([AdvanceID])
REFERENCES [dbo].[Advance] ([AdvanceID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Report_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[Report]'))
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Advance]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Report_Worker]') AND parent_object_id = OBJECT_ID(N'[dbo].[Report]'))
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Worker] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[Worker] ([WorkerID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Report_Worker]') AND parent_object_id = OBJECT_ID(N'[dbo].[Report]'))
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Worker]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RoleAuthorization_Authorization]') AND parent_object_id = OBJECT_ID(N'[dbo].[RoleAuthorization]'))
ALTER TABLE [dbo].[RoleAuthorization]  WITH CHECK ADD  CONSTRAINT [FK_RoleAuthorization_Authorization] FOREIGN KEY([AuthorizationID])
REFERENCES [dbo].[Authorization] ([AuthorizationID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RoleAuthorization_Authorization]') AND parent_object_id = OBJECT_ID(N'[dbo].[RoleAuthorization]'))
ALTER TABLE [dbo].[RoleAuthorization] CHECK CONSTRAINT [FK_RoleAuthorization_Authorization]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RoleAuthorization_PageAuthorization]') AND parent_object_id = OBJECT_ID(N'[dbo].[RoleAuthorization]'))
ALTER TABLE [dbo].[RoleAuthorization]  WITH CHECK ADD  CONSTRAINT [FK_RoleAuthorization_PageAuthorization] FOREIGN KEY([PageAuthorizationID])
REFERENCES [dbo].[PageAuthorization] ([PageAuthorizationID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RoleAuthorization_PageAuthorization]') AND parent_object_id = OBJECT_ID(N'[dbo].[RoleAuthorization]'))
ALTER TABLE [dbo].[RoleAuthorization] CHECK CONSTRAINT [FK_RoleAuthorization_PageAuthorization]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RoleAuthorization_Role]') AND parent_object_id = OBJECT_ID(N'[dbo].[RoleAuthorization]'))
ALTER TABLE [dbo].[RoleAuthorization]  WITH CHECK ADD  CONSTRAINT [FK_RoleAuthorization_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RoleAuthorization_Role]') AND parent_object_id = OBJECT_ID(N'[dbo].[RoleAuthorization]'))
ALTER TABLE [dbo].[RoleAuthorization] CHECK CONSTRAINT [FK_RoleAuthorization_Role]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RuleWorker_Rule]') AND parent_object_id = OBJECT_ID(N'[dbo].[RuleWorker]'))
ALTER TABLE [dbo].[RuleWorker]  WITH CHECK ADD  CONSTRAINT [FK_RuleWorker_Rule] FOREIGN KEY([RuleID])
REFERENCES [dbo].[Rule] ([RuleID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RuleWorker_Rule]') AND parent_object_id = OBJECT_ID(N'[dbo].[RuleWorker]'))
ALTER TABLE [dbo].[RuleWorker] CHECK CONSTRAINT [FK_RuleWorker_Rule]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RuleWorker_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[RuleWorker]'))
ALTER TABLE [dbo].[RuleWorker]  WITH CHECK ADD  CONSTRAINT [FK_RuleWorker_Title] FOREIGN KEY([TitleID])
REFERENCES [dbo].[Title] ([TitleID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RuleWorker_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[RuleWorker]'))
ALTER TABLE [dbo].[RuleWorker] CHECK CONSTRAINT [FK_RuleWorker_Title]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Title_Role]') AND parent_object_id = OBJECT_ID(N'[dbo].[Title]'))
ALTER TABLE [dbo].[Title]  WITH CHECK ADD  CONSTRAINT [FK_Title_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Title_Role]') AND parent_object_id = OBJECT_ID(N'[dbo].[Title]'))
ALTER TABLE [dbo].[Title] CHECK CONSTRAINT [FK_Title_Role]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TitleAmountApprovalRule_Amount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAmountApprovalRule]'))
ALTER TABLE [dbo].[TitleAmountApprovalRule]  WITH CHECK ADD  CONSTRAINT [FK_TitleAmountApprovalRule_Amount] FOREIGN KEY([AmountID])
REFERENCES [dbo].[Amount] ([AmountID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TitleAmountApprovalRule_Amount]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAmountApprovalRule]'))
ALTER TABLE [dbo].[TitleAmountApprovalRule] CHECK CONSTRAINT [FK_TitleAmountApprovalRule_Amount]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TitleAmountApprovalRule_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAmountApprovalRule]'))
ALTER TABLE [dbo].[TitleAmountApprovalRule]  WITH CHECK ADD  CONSTRAINT [FK_TitleAmountApprovalRule_Title] FOREIGN KEY([TitleID])
REFERENCES [dbo].[Title] ([TitleID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TitleAmountApprovalRule_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAmountApprovalRule]'))
ALTER TABLE [dbo].[TitleAmountApprovalRule] CHECK CONSTRAINT [FK_TitleAmountApprovalRule_Title]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Worker_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[Worker]'))
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD  CONSTRAINT [FK_Worker_Title] FOREIGN KEY([TitleID])
REFERENCES [dbo].[Title] ([TitleID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Worker_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[Worker]'))
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK_Worker_Title]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Worker_Unit]') AND parent_object_id = OBJECT_ID(N'[dbo].[Worker]'))
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD  CONSTRAINT [FK_Worker_Unit] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Unit] ([UnitID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Worker_Unit]') AND parent_object_id = OBJECT_ID(N'[dbo].[Worker]'))
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK_Worker_Unit]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Worker_Worker]') AND parent_object_id = OBJECT_ID(N'[dbo].[Worker]'))
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD  CONSTRAINT [FK_Worker_Worker] FOREIGN KEY([UpperWorkerID])
REFERENCES [dbo].[Worker] ([WorkerID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Worker_Worker]') AND parent_object_id = OBJECT_ID(N'[dbo].[Worker]'))
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK_Worker_Worker]
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckApproveOrder]    Script Date: 19.12.2023 17:34:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_CheckApproveOrder]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_CheckApproveOrder] AS' 
END
GO
ALTER PROCEDURE [dbo].[SP_CheckApproveOrder]
	@id [int]
WITH EXECUTE AS CALLER
AS
begin

select a.AdvanceID,w.WorkerID,w.WorkerName as WorkerName,t.TitleName as TitleName,u.UnitName as UnitName,aps.ApprovalStatusID,aps.ApprovalName,a.AdvanceAmount,a.RequestDate,a.DesiredDate,p.ProjectName,a.AdvanceExplanation,aas.ApproverOrRejecterID as LastApproverOrRejecterID,ww.WorkerName as LastApproverOrRejecterName,tt.TitleName as LastApproverOrRejecterTitle,aas.[Approved/DeclinedDate] as LastApprovedDate,aas.ApprovedAmount as ApprovedAmount,aas.DeterminedPaymentDate,pr.ReceiptDate from Advance a 
join Worker w on w.WorkerID=a.WorkerID
join Title t on t.TitleID = w.TitleID
join Unit u on u.UnitID = w.UnitID
join AdvanceApproveStatus aas on aas.AdvanceID = a.AdvanceID
left join Worker ww on ww.WorkerID=aas.ApproverOrRejecterID
left join Title tt on tt.TitleID=ww.TitleID
left join ApprovalStatus aps on aps.ApprovalStatusID = aas.ApprovalStatusID
join Project p on p.ProjectID = a.ProjectID
left join AdvanceReceipt ar on ar.AdvanceID = a.AdvanceID
left join PaymentReceipt pr on pr.PaymentReceiptID = ar.PaymantReceiptID
where aas.NextApproverOrRejecterID = @id and isProcess=0
end
GO
ALTER AUTHORIZATION ON [dbo].[SP_CheckApproveOrder] TO  SCHEMA OWNER 
GO
ALTER AUTHORIZATION ON [dbo].[SP_CheckApproveOrder] TO  SCHEMA OWNER 
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDetails]    Script Date: 19.12.2023 17:34:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetDetails]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_GetDetails] AS' 
END
GO
ALTER PROCEDURE [dbo].[SP_GetDetails]
	@advanceId [int]
WITH EXECUTE AS CALLER
AS
begin 

   SELECT 
    a.AdvanceID,
        a.AdvanceAmount,
        a.RequestDate,
        a.DesiredDate,
        a.AdvanceExplanation ,
        p.ProjectName,
        aas.ApprovalName,
        aas.NextApprovalName ,
        aps.[Approved/DeclinedDate] as ApprovedDeclinedDate,
        ww.WorkerName AS ApprovalRejectedName,
        wr.WorkerName as NextApprovalRejectedName,
        t.TitleName AS ApprovalRejectedTitle,
        aps.ApprovedAmount,
        payment.DeterminedPaybackDate,
        payment.PaymentReceiptID 

    FROM Advance a
    LEFT JOIN Worker w ON w.WorkerID = a.WorkerID
    JOIN Project p ON p.ProjectID = a.ProjectID
    JOIN AdvanceApproveStatus aps ON aps.AdvanceID = a.AdvanceID
    JOIN ApprovalStatus aas ON aas.ApprovalStatusID = aps.ApprovalStatusID
    LEFT JOIN Worker ww ON ww.WorkerID = aps.ApproverOrRejecterID
    LEFT  JOIN Worker wr on wr.WorkerID=aps.NextApproverOrRejecterID
    LEFT JOIN TitleAmountApprovalRule tar ON tar.ID = a.TitleAmountApprovalRuleID
    LEFT JOIN Title t ON t.TitleID = ww.TitleID
    LEFT JOIN AdvanceReceipt ar ON ar.AdvanceID = a.AdvanceID
    LEFT JOIN PaybackReceipt payback ON payback.PaybackReceiptID = ar.PaybackReceiptID
    LEFT JOIN PaymentReceipt payment ON payment.PaymentReceiptID = ar.PaymantReceiptID
    WHERE a.AdvanceID = @advanceId
    ORDER BY aps.ApproveStatusID 

end
GO
ALTER AUTHORIZATION ON [dbo].[SP_GetDetails] TO  SCHEMA OWNER 
GO
ALTER AUTHORIZATION ON [dbo].[SP_GetDetails] TO  SCHEMA OWNER 
GO
/****** Object:  StoredProcedure [dbo].[SP_GetWorkerAdvances]    Script Date: 19.12.2023 17:34:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetWorkerAdvances]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_GetWorkerAdvances] AS' 
END
GO
ALTER PROCEDURE [dbo].[SP_GetWorkerAdvances]
	@workerId [int]
WITH EXECUTE AS CALLER
AS
begin 
select
a.AdvanceID,
a.AdvanceAmount,
a.RequestDate ,
a.DesiredDate ,
p.ProjectName,
aas.ApprovalName ,
ww.WorkerName as ApprovalRejectedName,
t.TitleName as ApprovalRejectedTitle,
aps.ApprovedAmount ,
aps.[Approved/DeclinedDate] as ApprovedDeclinedDate,
aps.DeterminedPaymentDate,
ar.PaybackDate as PaybackDate,
case
    WHEN payback.ReceiptDate IS NOT NULL THEN 'Ödendi'
    ELSE 'Ödenmedi'
  END AS PaybackStatus


from Advance a
left join Worker w on w.WorkerID = a.WorkerID
join Project p on p.ProjectID = a.ProjectID
join AdvanceApproveStatus aps on aps.AdvanceID = a.AdvanceID
join ApprovalStatus aas on aas.ApprovalStatusID = aps.ApprovalStatusID
left join Worker ww on ww.WorkerID=aps.ApproverOrRejecterID
left join TitleAmountApprovalRule tar on tar.ID = a.TitleAmountApprovalRuleID
left join Title t on t.TitleID=ww.TitleID
left join AdvanceReceipt ar on ar.AdvanceID = a.AdvanceID
left join PaybackReceipt payback on payback.PaybackReceiptID = ar.PaybackReceiptID
left join PaymentReceipt payment on payment.PaymentReceiptID = ar.PaymantReceiptID
where 
w.WorkerID =@workerId  and aps.[Approved/DeclinedDate] In(select MAX(aps.[Approved/DeclinedDate])from AdvanceApproveStatus aps
join Advance a on a.AdvanceID=aps.AdvanceID
where a.WorkerID=@workerId
group by aps.AdvanceID)

end

GO
ALTER AUTHORIZATION ON [dbo].[SP_GetWorkerAdvances] TO  SCHEMA OWNER 
GO
ALTER AUTHORIZATION ON [dbo].[SP_GetWorkerAdvances] TO  SCHEMA OWNER 
GO
/****** Object:  Trigger [dbo].[TRG_UpdateAdvanceDetail]    Script Date: 19.12.2023 17:34:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TRG_UpdateAdvanceDetail]'))
EXEC dbo.sp_executesql @statement = N'CREATE trigger [dbo].[TRG_UpdateAdvanceDetail]
on [dbo].[AdvanceApproveStatus]
after insert
as 
begin
	SET NOCOUNT ON;

    -- Set isProcess = 1 for all related records except the newly inserted one
    UPDATE a
    SET isProcess = 1
    FROM AdvanceApproveStatus a
    INNER JOIN inserted i ON a.AdvanceID = i.AdvanceID
    WHERE a.ApprovalStatusID <> i.ApprovalStatusID;

end


' 
GO
ALTER TABLE [dbo].[AdvanceApproveStatus] ENABLE TRIGGER [TRG_UpdateAdvanceDetail]
GO
