@model WorkerLoginDTO
@{
    Layout = null;
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="css/StyleSheet.css">
<body>

    <div class="container" id="container">



        @await Html.PartialAsync("_RegisterPartialView", new WorkerRegisterDTO())

        <div class="form-container sign-in">
            <form method="post" asp-action="Login" asp-controller="Login">
                @Html.AntiForgeryToken()
                <div>
                    <div class="alert alert-danger text-center" role="alert">
                        @TempData["result"]
                    </div>
                </div>
                <h1>Giriş Yap</h1>

                <input type="email" class="form-control" asp-for="WorkerEmail" placeholder="Email">
                <input type="password" class="form-control" asp-for="password" placeholder="Şifre">
                <a href="#">Şifremi unuttum</a>
                <button type="submit">Giriş yap</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Tekrardan Hoşgeldiniz!</h1>
                    <p>Site özelliklerini kullanmak için kişisel bilgilerinizle giriş yapın</p>
                    <button class="hidden" id="login">Giriş Yap</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Merhaba!</h1>
                    <p>Site özelliklerini kullanmak için kişisel bilgilerinizle kayıt olun</p>
                    <button class="hidden" id="register">Kayıt Ol</button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>


</body>
